*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
parts/
src/*
!src/medialog
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
log.html
report.html

*.pyc

*/.DS_Store
/.DS_Store
.DS_Store


src/medialog/.DS_Store

src/medialog/bikebooking/profiles/default/workflows/.DS_Store

src/medialog/bikebooking/profiles/.DS_Store

src/medialog/bikebooking/profiles/default/.DS_Store
